
<h4>EXPO EVENTS SCHEDULING</h4>

<%= form_tag(questions_companies_path, method: :post) do %>

  <% @company.event.questions.where(text_field: false, seminar: false).each do |question| %>
    <h4><%= question.title %></h4>
    <% question.answers.each_with_index do |possible_answer, index| %>
      <h5>
        <%= radio_button_tag "questions[#{question.id}][answer_id]", possible_answer.id, checked = company_answer_radio(@company, possible_answer).present? ? true : (index == 0 ? true : false) %>
        <%= possible_answer.title %>
      </h5>
    <% end %>
    <br>
  <% end %>

  <% @company.event.questions.where(text_field: true).each do |question| %>
    <h4><%= question.title %></h4>
    <p>
      <%= text_field_tag "questions_with_text[#{question.id}][answer_id]", company_answer(@company, question).try(:answer).try(:value), class: "form-control" %>
    </p>
    <br>
  <% end %>

  <% @company.event.questions.where(seminar: true).each_with_index do |question, index|%>
    <% if index == 0 %>
      <h4>What seminars are you planning to attend? Please select from the list:</h4>
    <% end %>
    <h5>
      <%= check_box_tag "questions_seminars[#{question.id}][answer_id]", true, checked = company_answer(@company, question).present? ? true : false %>
      <%= question.title %>
    </h5>
  <% end %>

  <%= submit_tag 'NEXT', class: 'btn btn-primary' %>

<% end %>

