
<h4>EXPO EVENTS SCHEDULING</h4>

<h5>
  Would you require transportation to and from the EXPO to your hotel?
  <br>
  (You can check schedule <a href="http://www.griffins.com/events/expo16.asp#bus" target="_blank">here</a>)
</h5>

<%= form_tag(select_buses_companies_path, method: :post) do %>
  <h4>
    <%= radio_button_tag "checked_buses", true, checked = @company.event.buses.joins(:attendees).any? || true, class: 'checked_buses' %> YES
  </h4>
  <%= hidden_field_tag :attendees_count, @company.attendees.count %>
  <%= hidden_field_tag :already_done, @company.event.buses.joins(:attendees).any? %>
  <% @company.event.buses.each_with_index do |bus, index| %>
    <h5>
      &emsp;
      <%= check_box_tag "buses[#{bus.id}][]", bus.id, checked = (bus.attendees & @company.attendees).any?, data: { seats: bus.available_seats }, class: 'bus-checkbox' %>
      <%= "[MA EXPO BUS ##{index+1} - #{bus.available_seats} seats remaining]" %>
      <% if (bus.attendees & @company.attendees).any? %> (<%= (bus.attendees & @company.attendees).size %> of your attendees) <% end %>
    </h5>
  <% end %>
  <h4>
    <%= radio_button_tag "checked_buses", false, checked = !@company.event.buses.joins(:attendees).any? || false %> NO (We will have our own transportation)
  </h4>

  <div class="buses-error">
    You have selected a bus that will not accommodate the number of attendees you have, please select another
  </div>

  <%= submit_tag 'BACK', class: 'btn btn-primary', name: :step_back %>
  <%= submit_tag 'NEXT', class: 'btn btn-primary next' %>
<% end %>
