
<h4>
  You have selected to register for the: <%= @company.event.full_name %>
  <br>
  Please fill in the required information below
</h4>
<br>

<%= form_for @company, url: save_info_and_attendees_companies_path, method: :post, html: { id: :company_info_form } do |f| %>
  <div class="row input-row">
    <%= f.label :name, 'Company name:', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :name, class: "form-control company-name-input", required: true, data: { path: "search_companies_path" } %>
    </div>
  </div>
  <div class="row input-row">
    <%= f.label :registrant, 'Registrant/Representative:', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :registrant, class: "form-control", required: true %>
    </div>
  </div>
  <div class="row input-row">
    <%= f.label :address, 'Company Address:', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :address, class: "form-control", required: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="input-row col-md-3">
      <%= f.label :city, 'City:' %>
      <%= f.text_field :city, class: "form-control", required: true %>
    </div>
    <div class="input-row col-md-3">
      <%= f.label :us_state, 'State:' %>
      <%= f.select :us_state, states_for_select, {include_blank: true}, {required: true, class: 'form-control'} %>
    </div>
    <div class="input-row col-md-3">
      <%= f.label :zip_code, 'Zip Code:' %>
      <%= f.text_field :zip_code, class: "form-control", required: true %>
    </div>
  </div>
  <div class="row input-row">
    <%= f.label :representative_email, 'Representative Email:', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :representative_email, class: "form-control", required: true, type: :email %>
    </div>
  </div>
  <div class="row input-row">
    <%= f.label :representative_phone, 'Representative Phone:', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :representative_phone, class: "form-control phone-mask", required: true %>
    </div>
  </div>
  <%= f.hidden_field :warehouse, value: @company.warehouse %>
  <div class="row input-row">
    <%= label_tag :i_am_also_an_attendee, 'I am also an attendee', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= check_box_tag :i_am_also_an_attendee, nil, checked = session[:i_am_also_an_attendee] %>
    </div>
  </div>
  <div class="row input-row">
    <%= label_tag :are_you_currently_a_customer, 'Are you currently a Griffin customer?', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= check_box_tag :are_you_currently_a_customer, nil, checked = session[:are_you_currently_a_customer] %>
    </div>
  </div>
  <div class="row input-row">
    <%= f.label :account_number, 'Customer Number:', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :account_number, class: "form-control" %>
    </div>
  </div>
  <br>

  <h3>Attendees</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :attendees do |attendee| %>
        <%= render 'attendees/form', f: attendee %>
      <% end %>
    </tbody>
  </table>

  <div class="attendees-count-error">
    You should have at least one attendee
  </div>
  <div class="phone-number-length-error">
    Every phone number should contain 10 digits
  </div>

  <%= link_to_add_association 'add attendee', f, :attendees, partial: 'attendees/form', class: 'btn btn-success', 'data-association-insertion-method' => 'append','data-association-insertion-node' => 'tbody' %>

  <br>
  <br>
  <br>

  <%= f.submit 'NEXT', class: 'btn btn-primary' %>
<% end %>
