
<h2>Welcome to the Griffin Greenhouse EXPO <%= @company.company_type.titleize %> Registration</h2><br>
<h2>Please select the event/expo you would like to register for</h2>


<%= form_tag(select_event_companies_path, method: :post) do %>
  <%= Event.find_each.with_index do |event, index| %>
    <h4>
      <%= radio_button_tag :event_id, event.id, checked: false %> 
      <%= event.full_name %>
    </h4>
  <% end %>
  <br>
  <%= submit_tag 'NEXT', class: 'btn btn-primary' %>
<% end %>
