<h4 class="bus-title accordion">
  Bus Attendee Roster for <%= bus.title %> (<%= bus.event.try(:full_name) %>)
</h4>

<div class="accordion-content">
  <table class="bus-table" style="width:100%" cellspacing="1">
    <tbody>
      <tr>
        <th>Company Name</th>
        <th>Attendee First Name</th>
        <th>Attendee Last Name</th>
      </tr>

      <% bus.attendees.each do |attendee| %>
        <tr>
          <td><%= attendee.company.try(:name) %></td>
          <td><%= attendee.first_name %></td>
          <td><%= attendee.last_name %></td>
        </tr>
      <% end %>

      <tr>
        <td></td>
        <td><b>Total Expected Passenger Count</b></td>
        <td><%= bus.attendees.count %></td>
      </tr>
    </tbody>
  </table>
</div>
