<table>
  <tr>
    <th>Selected</th>
    <th>Full name</th>
    <th>Company name</th>
    <th>Checked</th>
    <th>Seminars</th>
  </tr>
  <% attendees.each do |attendee| %>
    <tr>
      <td><%= check_box_tag "selected_attendees[]", nil, checked = true, id: attendee.id %></td>
      <td><%= attendee.full_name %></td>
      <td><%= attendee.company.try(:full_name) %></td>
      <td>
        <%= hidden_field_tag "attendees[#{attendee.id}]", nil %>
        <%= check_box_tag "attendees[#{attendee.id}]", nil, checked = checked_attendees.include?(attendee) %>
      </td>
      <td>
        <% @event.seminar_questions.each do |seminar| %>
          <%= hidden_field_tag "seminars[#{attendee.id}][#{seminar.id}]", nil %>
          <%= check_box_tag "seminars[#{attendee.id}][#{seminar.id}]", nil, checked = CheckIn.find_by(event_id: @event.id, seminar: seminar.title, attendee_id: attendee.id).present? %>
          <%= seminar.title %>
          <br>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
