
<tr class="nested-fields">
  <td><%= f.text_field :first_name, required: true %></td>
  <td><%= f.text_field :last_name, required: true %></td>
  <td><%= f.text_field :email, required: true, type: :email %></td>
  <td><%= f.text_field :phone, required: true, class: "phone-mask" %></td>
  <td><%= link_to_remove_association "remove", f, class: 'btn btn-danger' %></td>
</tr>
