<b>Company:</b> <%= @company.name %>
<br>
<b>Customer number:</b> <%= @company.account_number %>
<br>
<b>Contact name:</b> <%= @company.registrant %>
<br>
<b>Phone number:</b> <%= @company.representative_phone %> 
<br>
<b>Email address:</b> <%= @company.representative_email %>
<br>
<b>Griffin customer?:</b> <%= @company.account_number != 9999 ? "YES" : "NO" %> 
<br>
<b>Address:</b> <%= "#{@company.address} #{@company.city} #{@company.us_state} #{@company.zip_code}" %>
<br>
<b>Expo attending:</b> <%= "#{@company.event.title} - #{@company.event.from.strftime("%d %b")} - #{@company.event.to.strftime("%d %b")} in #{@company.event.location}" %>
<br>

<table class="table-bordered questions-table">
  <tr>
    <th>Attendee</th>
    <% @company.event.questions.where(text_field: false, seminar: false).each do |question| %>
      <th><%= question.title %></th>
    <% end %>
    <% @company.event.questions.where(text_field: true).each do |question| %>
      <th><%= question.title %></th>
    <% end %>
    <th>
      What seminars are you planning to attend? Please select from the list:
    </th>
  </tr>

  <% @company.attendees.each do |attendee| %>
    <tr>
      <td><%= attendee.full_name %></td>
      <% @company.event.questions.where(text_field: false, seminar: false).each do |question| %>
        <td>
          <% question.answers.each_with_index do |possible_answer, index| %>
            <% if company_answer_radio(@company, possible_answer, attendee).present? %>
              <%= possible_answer.title %>
            <% end %>
          <% end %>
        </td>
      <% end %>
      <% @company.event.questions.where(text_field: true).each do |question| %>
        <td>
          <%= company_answer(@company, question, attendee).answer.value %>
        </td>
      <% end %>
      <td>
        <% @company.event.questions.where(seminar: true).each_with_index do |question, index| %>
          <% if company_answer(@company, question, attendee).present? %>
            <%= question.title %>
            <br>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>

</table>

<br>
<b>Registration Confirmation ID:</b> <%= @company.try(:confirmation_token).try(:upcase) %>
<br>
<b>Transportation:</b> <%= @company.has_buses? ? "YES" : "NO" %>
<br>
<b>BUS ID:</b>
  <% @company.event.buses.each do |bus| %>
    <% if (bus.attendees & @company.attendees).any? %>
      <%= "#{bus.title} |" %>
    <% end %>
  <% end %>
<br>
<br>
<b>LODGING INFO:</b> <%= Hotel.first.name %>, <%= @company.hotels_events.sum(:quantity) %> of Rooms Required/Booked
<br>
<br>

